//Base Colors
$primary: #0d6efd;
$primary-light: #e1ddff;
$secondary: #6c757d;
$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #0dcaf0;
$light: #f8f9fa;
$dark: #212529;
$white: #fdfdfd;

//Item Email
$item-email-bg: #d1d5db;
$item-email-color: #1f2942;
