<p>trabajo-grado works! en el docente</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Estudiante</th>
      <th scope="col">Nombre Tg</th>
      <th scope="col">Opciones modal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bryam</td>
      <td>Egema</td>
      <td>ver</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jesus</td>
      <td>Educativa</td>
      <td>ver</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jesus</td>
      <td>Educativa</td>
      <td>ver</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jesus</td>
      <td>Educativa</td>
      <td>ver</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jesus</td>
      <td>Educativa</td>
      <td>ver</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jesus</td>
      <td>Educativa</td>
      <td>ver</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jesus</td>
      <td>Educativa</td>
      <td>ver</td>
    </tr>
  </tbody>
</table>
